@media(max-width:1215px){

  .footer-logo-icon i{
    font-size: 2.5rem;
  }
  
  .footer-logo-text{
    line-height: 1.3rem;
  }
  
  .footer-logo-text-top{
    font-size: 1.25rem;
  }
  
  .footer-logo-text-bottom{
    font-size: .93rem;
  }
  
  .footer-box-1-content{
    font-size: .8rem;
    line-height: 1.4rem;
    width: 90%;
  }
  
  .footer-box-2-title,
  .footer-box-3-title{
    font-size: .7rem;
    margin: .5rem 0 1rem 0;
  }
  
  .footer-box-2-list li,
  .footer-box-3-list li{
    margin-bottom: 1rem;
    font-size: .95rem;
  }
  
  /*Box 4*/
  .footer-box-4-title {
    margin-top: .35rem;
  }
  
  .footer-box-4-title a{
    border: solid var(--site-white) 2px;
    font-size: .8rem;
    padding: .5rem 1.2rem;
  }
  
  .footer-box-4-content{
    width: 80%;
  }
}

/*Media Queries for index.html*/
@media(max-width:1156px){
  .header-container{
    max-width: 90%;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
  }

  .header-logo{
    margin: 1rem 0;
  }

  /*Icon in the header logo*/
  .header-logo-icon i{
    font-size: 5rem;
  }

  /*header logo text*/
  .header-logo-text{
    line-height: 1.9rem;
  }

  /*bottom line in the header logo text*/
  .header-logo-text-top{
    font-size: 1.8rem;
  }

  /*bottom line in the header logo text*/
  .header-logo-text-bottom{
    font-size: 1.35rem;
  }

  .header-menu li{
    margin:0 2rem;
  }
}

@media(max-width:1100px){

  .footer-top{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-row-gap: 1.3rem;
  }
  
  .footer-box-4-content{
    width: 46%;
  }
}

@media(max-width:415px){
  .footer-box-4-content{
    display: none;
  }

  .footer-bottom-text{
    font-size: .7rem;
  }
}


@media(max-width:670px){
  /*Icon in the header logo*/
  .header-logo-icon i{
    font-size: 4rem;
  }

  /*header logo text*/
  .header-logo-text{
    line-height: 1.8rem;
  }

  /*bottom line in the header logo text*/
  .header-logo-text-top{
    font-size: 1.7rem;
  }

  /*bottom line in the header logo text*/
  .header-logo-text-bottom{
    font-size: 1.27rem;
  }

  .header-menu li{
    font-size: .85rem;
    margin:0 1.25rem;
  }
}

@media(max-width:415px){
  /*Icon in the header logo*/
  .header-logo-icon i{
    font-size: 3rem;
  }

  /*header logo text*/
  .header-logo-text{
    line-height: 1.4rem;
  }

  /*bottom line in the header logo text*/
  .header-logo-text-top{
    font-size: 1.4rem;
  }

  /*bottom line in the header logo text*/
  .header-logo-text-bottom{
    font-size: 1.03rem;
  }
  .header-menu li{
    font-size: .7rem;
    margin:0 .4rem;
  }
}

/*Media Query for showcase*/
@media(max-width:819px){
  /*Showcase*/
  .showcase{
    height: 65vh;
    position: relative;
  }

  .showcase-text-top{
    font-size: 2rem;
  }
  
}

/*Media Query for showcase*/
@media(max-width:415px){
  /*Showcase*/
  .showcase{
    height: 50vh;
  }

  .showcase-text-top{
    font-size: 1.5rem;
    width: 70%;
  }

  .showcase-text-bottom{
    font-size: .8rem;
    margin-top: .3rem;
  }
}

/*Media Query for titles on home page*/
@media(max-width:415px){
  /*top line of text in the div title*/
  .div-title-top{
    font-size: .7rem;
    margin-bottom: .5rem;
  }

  .div-title-bottom{
    font-size: 1.6rem;
  }
  
  .black-line::after{
    width: 10%;
  }
}

/*Media Query for about us*/
@media(max-width:890px){
  /*About us text below the title on the home page*/
  .home-page-about-description{
    width: 90%;
  }

  .about-description-text{
    font-size: .85rem;
    line-height: 1.5rem;
    margin-bottom: 1.2rem;
  }

  .about-icon i{
    font-size: 1.7rem;
    padding:1.5rem 1.7rem;
  }
  
  /*About us link/button*/
  .about-link{
    margin: 6rem 0 0 0;
    text-align: center;
  }

  .about-icon p{
    font-size: .75rem;
    padding-top: .5rem;
  }

}

/*Media Query for about us*/
@media(max-width:765px){

  .about-icons{
    margin: 1rem auto 0 auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }

  .about-icon i{
    font-size: 1.3rem;
    padding:1.3rem 1.5rem;
  }
  
  .about-icon p{
    font-size: .72rem;
  }

}

/*Media Query for about us*/
@media(max-width:415px){
  /*About us text below the title on the home page*/

  .about-description-text{
    font-size: .8rem;
    line-height: 1.2rem;
    margin-bottom: 1rem;
  }

  .about-icons{
    display: none;
  }

  /*About us link/button*/
  .about-link{
    margin: 1rem 0 0 0;
  }
}

/*Experience queries*/
@media(max-width:1156px){
  .experience-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    
  }
  
  /*Text on the top line of boxes*/
  .box-text-top{
    font-size: 1.6rem;
    font-weight: bold;
  }

/*Text on the bottom line of boxes*/
  .box-text-bottom{
    font-size: 1rem;
    margin-top: .2rem;
  }

}

/*Experience queries*/
@media(max-width:631px){

  .home-page-experience{
    margin: 6rem auto;
    width: 100%;
  }

  .experience-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);  
  }

  /*Text on the top line of boxes*/
  .box-text-top{
    font-size: 1.2rem;
    font-weight: bold;
  }

/*Text on the bottom line of boxes*/
  .box-text-bottom{
    font-size: .8rem;
    margin-top: .2rem;
  }

}

/*Experience queries*/
@media(max-width:415px){
  .experience-description-text{
    font-size: .75rem;
  }
}

/*Work section*/
@media(max-width:1075px){
  .home-page-work{
    display: grid;
    grid-template-columns: repeat(1,1fr);
  }
}

@media(max-width:415px){
  .work-box{
    height:50vh;
  }

  /*Work box title*/
.work-box-text-title{
  font-size: 1rem;
}

.work-box-text-project{
  font-size: 2rem;
}

.work-box-link{
  border: solid var(--site-white) 1.5px;
  padding: .25rem 1.3rem;
  margin-top: 1.2rem;
}
}

@media(max-width:1050px){
  /*Container for the client logos*/
  .home-client-logo-container{
    width: 70%;
    margin: 4rem auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }

  .home-client-logo{
    width: 50%;
    height: 20vh;
    margin: 0 auto 2rem auto;
  }
  
  .home-client-logo-5{
    height: 18.5vh;
  }
  
  .home-client-logo-6{
    height: 18vh;
  }

}

@media(max-width:765px){
  /*Container for the client logos*/
  .home-client-logo-container{
    width: 70%;
    margin: 2.5rem auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }

  .home-client-logo{
    width: 73%;
    height: 20vh;
    margin: 0 auto 2rem auto;
  }

  .client-description-text{
    font-size: .95rem;
    line-height: 1.4rem;
  }

  .client-link a{
    font-size: 1rem;
    padding: .8rem 1.5rem;
    border-radius: 4px;
    text-transform: uppercase;
  }

}

@media(max-width:415px){
  .client-description-text{
    display: none;
  }
}

